body {
  text-align: center
}
a {
  display: block;
  float: left;
  width: 16.666%;
}
img {
  display: block;
  width: 100%;
  transition: opacity ease .4s;
}
img:hover {
  opacity: .5;
}
.logo {
  position: fixed;
  left: 30px; right: 30px;
  top: 30px;
  z-index: 9999
}
.logo img {
  width: 100%;
}
.logo img:hover {
  opacity: 1;
}